.headerLinks {
  display: none;
  font-size: 2rem;
  justify-content: space-between;
  padding: 20px;
}

.linkShoppingCart div span {
  font-size: 1rem;
}

.linkShoppingCart {
  color: black;
  text-decoration: none;
}

.productContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.titleDetails {
  align-items: flex-start;
  color: rgb(55, 55, 55);
  display: flex;
  flex-basis: 500px;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 900;
  justify-content: flex-start;
  margin: 1rem;
}

.titleDetails h3 {
  color: rgb(208, 28, 38);
  font-weight: 900;
}

.titleDetails h4 {
  font-weight: 900;
}

.productContanerDetail {
  display: flex;
  flex-basis: 600px;
  justify-content: space-between;
}

.productContanerDetail button {
  width: 50px;
}

.btn-danger {
  background-color: rgb(208, 28, 38);
}

.detailsToAddCart{
  width: 15rem;
  margin: 0.1rem;
}

.productContanerDetail img {
  max-height: 100%;
  max-width: 80%;
}

